@mixin headerFooter($bg) {
  background-color: $bg;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: block;
}

@mixin contentSidebar($width, $bg) {
  width: $width;
  background-color: $bg;
  text-align: center;
  color: white;
  padding: 290px 0;
}

.header {
  @include headerFooter(red)
    //do cái thẻ tạo ra từ component không phải là block nên background-color không ăn;;;;;;
}

.contents {
  display: flex;
  .content {
    @include contentSidebar(80%, orange);
  }
  .sidebar {
    @include contentSidebar(20%, blue);
  }
}

.footer {
  @include headerFooter(green);
}
